{% set p = page | default(value=section) %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ p.title }} ⋅ Les Panicakes</title>
        <link rel="stylesheet" href="/zite.css">
    </head>
    <body>
        <header class="{% block header %}{% endblock header %}">
          <a href="/">Accueil</a>
          <a href="/tags">Tags</a>
          <a href="/recherche">Rechercher</a>
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>
